.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://i.imgur.com/l2UFPQ6.png');
  color: #fff;
  background-position: center;
  background-size: contain;
}
.app h1 {
  font-size: 7rem;
  font-weight: 500;
}

.app div h3,
.app div span {
  /* display: flex;
  flex-direction: column; */
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.map-container {
  position: relative;
  display: flex;
}
.map-div {
  width: 20px;
  height: 20px;
  background: white;
  /* position: absolute; */
}
